<div class="card mx-auto" style="width: 18rem;">
  <img class="card-img-top" src="{{ pictureUrl }}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">I am a nice {{ type }}</p>
    <a href="#" class="btn btn-primary">Adopt me!</a>
  </div>
</div>