<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Welcome Ironhacker. :)</h1>
    {{ person.firstName }}
    {{!-- 
    {{#if isCityBerlin}}
      The best city is {{ city }}
    {{else}}
      We don't know the best city
    {{/if}}
     --}}
  </body>
</html>